<!DOCTYPE html>
<html>
<head>
    <title>Список мастеров</title>
    <meta charset="utf-8" />
</head>
<body style="background-color: #f9dadf">
<h1 style="color: #1b2577; font-size: 40px; font-family: 'Monotype Corsiva',serif; text-align: center">Список мастеров</h1>
<p><a href="/create" style="color: #771e1f; font-size: 30px">Добавить мастера</a></p>
<table  style="margin: auto">
    <tr><th>ФИО</th><th>Адрес</th><th>Телефон</th><th>э-мейл</th><th>Код_специализации</th></tr>
    {{#each masters}}
        <tr>
            <td>{{this.name_client}}</td>
            <td>{{this.adress}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.e-mail}}</td>
            <td>{{this.id_specialization}}</td>
            <td>
                <a href="/edit/{{this.id_master}}">Изменить</a>|
                <form action="delete/{{this.id_master}}" method="POST" style="display:inline;">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</body>
<html>
