<!DOCTYPE html>
<html>
<head>
    <title>Мастера</title>
    <meta charset="utf-8" />
    <link rel="stylesheet"  type = "text/css" href="css/style_hbs.css">
    <link rel="stylesheet" type = "text/css" href="css/reset.css">
    <link rel="stylesheet" type = "text/css" href="css/fonts.css">
</head>
<body>
<main class="main-all">
    <p class="back"><a href="/" class='button-back'>Главная форма</a></p>
<h1>Мастера мастерской "Компьютерный доктор"</h1>
    <p class="add"><a href="/create_master" class='button-add'>Добавить</a></p>
<table class="table-all">
    <tr><th>Код</th><th>ФИО</th><th>Адрес</th><th>Телефон</th><th>Э-мейл</th><th>Код специализации</th></tr>
    {{#each masters}}
        <tr>
            <td>{{this.id_master}}</td>
            <td>{{this.name_master}}</td>
            <td>{{this.adress}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.email}}</td>
            <td>{{this.id_specialization}}</td>
            <td>
                <a class='button-change' href="/edit/{{this.id_master}}">изменить</a>
                <form action="delete/{{this.id_master}}" method="POST">
                    <input class="delete-all" type="submit" value="удалить" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</main>
</body>
</html>
