<!DOCTYPE html>
<html>
<head>
    <title>Заказы</title>
    <meta charset="utf-8" />
    <link rel="stylesheet"  type = "text/css" href="css/style_hbs.css">
    <link rel="stylesheet" type = "text/css" href="css/reset.css">
    <link rel="stylesheet" type = "text/css" href="css/fonts.css">
</head>
<body>
<main class="main-all">
<h1>Список заказов мастерской "Компьютерный доктор"</h1>
<p class="add"><a href="/create" class='button-add'>Добавить заказ</a></p>

<table class="table-all">
    <tr><th>Номер</th><th>дата заказа</th><th>Техника</th><th>дата выполнения</th><th>Оплачено</th>
        <th>Выдано</th><th>К оплате</th><th>Комметарии</th><th>Код клиента</th>
        <th>Код мастера</th><th>Код услуги</th></tr>
    {{#each orders}}
        <tr>
            <td>{{this.id_order}}</td>
            <td>{{this.date_order}}</td>
            <td>{{this.name_device}}</td>
            <td>{{this.date_finish}}</td>
            <td>{{this.paid}}</td>
            <td>{{this.returned}}</td>
            <td>{{this.price_final}}</td>
            <td>{{this.comments}}</td>
            <td>{{this.id_client}}</td>
            <td>{{this.id_master}}</td>
            <td>{{this.id_service}}</td>
            <td>
                <a class='button-change' href="/edit/{{this.id_order}}">изменить</a>
                <form action="delete/{{this.id_order}}" method="POST">
                    <input class="delete-all" type="submit" value="удалить" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</main>
</body>
</html>
