<!DOCTYPE html>
<html>
<head>
    <title>VIP Клиенты</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style_hbs.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
</head>
<body>
<main class="main-all main-report">
    <p class="back"><a href="/" class='button-back'>Главная форма</a></p>
    <h1>Список VIP клиентов. <br><span>Мастерская "Компьютерный доктор"</span></h1>
    <div class="keys">
        <p>Распечатать: Ctrl+P</p>
        <p>Поиск: Ctrl+F</p>
    </div>
    <table class="table-all table-report">
        <tr>
            <th>Код</th>
            <th>ФИО</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Эмейл</th>
        </tr>
        {{#each clients}}
            <tr>
                <td>{{this.id_client}}</td>
                <td>{{this.name_client}}</td>
                <td>{{this.adress}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.email}}</td>
            </tr>
        {{/each}}
    </table>
    <div class="current-date">Дата формирования отчета: </div>
</main>
<script type="text/javascript">
    const currentDate = new Date();
    const currentDateNormal = (("0" + currentDate.getDate()).slice(-2)) + '.' + (("0" + (currentDate.getMonth() + 1)).slice(-2))
            + '.' + currentDate.getFullYear() + ' (' + (("0" + currentDate.getHours()).slice(-2))
            + ':' + (("0" + currentDate.getMinutes()).slice(-2)) + ')';
    const divForDate = document.querySelector('.current-date');
    divForDate.firstChild.nodeValue += currentDateNormal;
</script>
</body>
</html>
