<!DOCTYPE html>
<html>
<head>
    <title>Список Услуг</title>
    <meta charset="utf-8" />
</head>
<body style="background-color: #f9f7d0">
<h1 style="color: #1b2577; font-size: 40px; font-family: 'Monotype Corsiva',serif; text-align: center">Список Услуг</h1>
<p><a href="/create" style="color: #771e1f; font-size: 30px">Добавить услугу</a></p>
<table style="margin: auto">
    <tr><th>Наименование услуги</th><th>Цена(бел.р.)</th><th>Гарантия(мес.)</th></tr>
    {{#each services}}
        <tr>
            <td>{{this.name_service}}</td>
            <td>{{this.price}}</td>
            <td>{{this.guarantee}}</td>
            <td>
                <a href="/edit/{{this.id_service}}">Изменить</a>|
                <form action="delete/{{this.id_service}}" method="POST" style="display:inline;">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</body>
<html>
